@model IEnumerable<FribergCarRentals.Models.Bil>

@{
    ViewData["Title"] = "Bilar";
}

<div class="text-center mt-5">
    <h1>Våra bilar</h1>
    <a class="btn btn-dark" asp-action="NyBilAdmin" asp-controller="Bilar">Lägg till ny bil</a>
</div>

<div class="d-flex flex-column">
    @foreach (var bil in Model)
    {
        <p id="result-@bil.Id"></p>
        <div class="flex-row border border-dark w-100 justify-content-between mt-1 bg-white" style="display: flex;" id="container-@bil.Id">
            <div class="w-25 border-start border-end border-dark overflow-hidden">
                <p class="fw-bold text-center">Bilder</p>
                <select onchange="bytBild(this, @bil.Id)">
                    @foreach (var bild in bil.Bilder)
                    {
                        <option value="@bild">@bild</option>
                    }
                </select>
                <div class="d-flex flex-row w-100 justify-content-center">
                    <img src="@bil.Bilder[0]" id="bild-@bil.Id" class="my-auto" />
                </div>
            </div>
            <div class="d-flex flex-column w-75">
                <div class="d-flex flex-row flex-wrap w-100 justify-content-evenly">
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Tillverkare</p>
                        <p>@bil.Tillverkare</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Årsmodell</p>
                        <p>@bil.Årsmodell</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Modell</p>
                        <p>@bil.Modell</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Drivning</p>
                        <p>@bil.Drivning</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Bränsle</p>
                        <p>@bil.Bränsle</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Växellåda</p>
                        <p>@bil.Växellåda</p>
                    </div>
                </div>
                <div class="d-flex flex-column w-100 align-content-center border-top border-dark">
                    <p class="fw-bold text-center">Beskrivning</p>
                    <p class="text-center">@bil.Beskrivning</p>
                </div>
                <div class="flex-row w-100 align-content-end text-center" style="height: 100%;" id="ändratabort-@bil.Id">
                    <a class="btn btn-dark m-1" asp-action="ÄndraBilAdmin" asp-controller="Bilar" asp-route-bilId="@bil.Id">Ändra</a>
                    <button class="btn btn-dark m-1" onclick="frågaTaBort(@bil.Id)">Ta bort</button>
                </div>
                <div class="flex-row w-100 align-content-end text-center" style="height: 100%; display: none;" id="janej-@bil.Id">
                    <p class="text-danger m-0">Ta bort denna bil?</p>
                    <button class="btn btn-dark m-1" onclick="jaTaBort(@bil.Id)">Ja</button>
                    <button class="btn btn-dark m-1" onclick="nejTaBort(@bil.Id)">Nej</button>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        window.onload = function () {
            var images = document.querySelectorAll('img');

            images.forEach(function (image){
                resizeImg(image);
            });
        }

        function resizeImg(image){
            var div = image.parentElement;
            var divHeight = div.getBoundingClientRect().width / 10 * 7;
            div.style.height = divHeight + "px";

            var widthRatio = div.getBoundingClientRect().width / image.naturalWidth;
            var heightRatio = div.getBoundingClientRect().height / image.naturalHeight;
            var scaleFactor = Math.min(widthRatio, heightRatio);

            image.style.width = (image.naturalWidth * scaleFactor) + 'px';
            image.style.height = (image.naturalHeight * scaleFactor) + 'px';
        }

        function bytBild(select, bilId){
            var image = document.getElementById("bild-" + bilId);
            image.src = select.value;
            image.onload = () => resizeImg(image);
        }

        function frågaTaBort(bilId){
            document.getElementById("ändratabort-" + bilId).style.display = 'none';
            document.getElementById("janej-" + bilId).style.display = 'block';
        }

        function nejTaBort(bilId){
            document.getElementById("janej-" + bilId).style.display = 'none';
            document.getElementById("ändratabort-" + bilId).style.display = 'block';
        }

        async function jaTaBort(bilId){
            const response = await fetch(`/Bilar/TaBortBilAdmin?bilId=${bilId}`, { method: "PUT" });
            const result = await response.text();
            if (response.ok){
                document.getElementById("result-" + bilId).textContent = result;
                document.getElementById("result-" + bilId).classList = "text-center fs-4 w-100 text-success";
                document.getElementById("container-" + bilId).style.display = 'none';
            }
            else {
                const returnUrl = window.location.pathname;
                const error = encodeURIComponent(result);
                window.location.href = `/Home/Error?error=${error}&returnUrl=${returnUrl}`;
            }
        }
    </script>
}