@using System.Security.Claims
@model IEnumerable<FribergCarRentals.Models.Bil>

@{
    ViewData["Title"] = "Bilar";
}

<div class="text-center mt-5">
    <h1>Våra bilar</h1>
</div>
<div class="d-flex flex-column">
    @foreach (var bil in Model)
    {
        <div class="flex-row border border-dark w-100 justify-content-between mt-3 bg-white" style="display: flex;" id="container-@bil.Id">
            <div class="w-25 border-start border-end border-dark overflow-hidden">
                <p class="fw-bold text-center">Bilder</p>
                <select onchange="bytBild(this, @bil.Id)">
                    @foreach (var bild in bil.Bilder)
                    {
                        <option value="@bild">@bild</option>
                    }
                </select>
                <div class="d-flex flex-row w-100 justify-content-center">
                    <img src="@bil.Bilder[0]" id="bild-@bil.Id" class="my-auto" />
                </div>
            </div>
            <div class="d-flex flex-column w-75">
                <div class="d-flex flex-row flex-wrap w-100 justify-content-evenly">
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Tillverkare</p>
                        <p>@bil.Tillverkare</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Årsmodell</p>
                        <p>@bil.Årsmodell</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Modell</p>
                        <p>@bil.Modell</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Drivning</p>
                        <p>@bil.Drivning</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Bränsle</p>
                        <p>@bil.Bränsle</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Växellåda</p>
                        <p>@bil.Växellåda</p>
                    </div>
                </div>
                <div class="d-flex flex-column w-100 align-content-center border-top border-dark">
                    <p class="fw-bold text-center">Beskrivning</p>
                    <p class="text-center">@bil.Beskrivning</p>
                </div>
                <div class="flex-row w-100 text-center align-content-end" style="height: 100%;">
                    <button type="button" class="btn btn-dark m-1" style="height: 2em;" data-bs-toggle="collapse" data-bs-target="#boka-@bil.Id">Se datum/Boka</button>
                </div>
            </div>
        </div>
        <div id="boka-@bil.Id" class="collapse border-start border-end border-bottom border-dark w-100">
            <div class="card card-body d-flex flex-column">
                <p id="result-@bil.Id"></p>
                <div class="d-flex flex-row justify-content-center">
                    @if (Context.User.HasClaim(ClaimTypes.Role, "kund"))
                    {
                        <div class="d-flex flex-column mx-5">
                            <input type="hidden" id="bilId-@bil.Id" value="@bil.Id" />
                            <label for="startdatum">Startdatum</label>
                            <input type="date" id="startdatum-@bil.Id" class="form-control" />
                            <label for="slutdatum">Slutdatum</label>
                            <input type="date" id="slutdatum-@bil.Id" class="form-control" />
                            <button class="btn btn-dark mt-1" onclick="nyBokning(@bil.Id)">Boka</button>
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-dark mt-1 mx-1" asp-action="Index" asp-controller="Kund" asp-route-returnUrl="@Context.Request.Path/#container-@bil.Id">Logga in</a>
                        <a class="btn btn-dark mt-1 mx-1" asp-action="Registrera" asp-controller="Kund" asp-route-returnUrl="@Context.Request.Path/#container-@bil.Id">Registrera</a>
                    }
                    <div class="d-flex flex-column" id="datum-@bil.Id">
                        <p class="fw-bold">Otillgängliga datum:</p>
                        @foreach (var bokning in bil.Bokningar)
                        {
                            <p class="text-danger">@bokning.Startdatum.ToShortDateString() till @bokning.Slutdatum.ToShortDateString()</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        window.onload = function () {
            var images = document.querySelectorAll('img');

            images.forEach(function (image){
                resizeImg(image);
            });

            const hash = window.location.hash;

            if (hash) {
                const targetElement = document.querySelector(hash);
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: "smooth", block: "start" });
                }
            }
        }

        function resizeImg(image){
            var div = image.parentElement;
            var divHeight = div.getBoundingClientRect().width / 10 * 7;
            div.style.height = divHeight + "px";

            var widthRatio = div.getBoundingClientRect().width / image.naturalWidth;
            var heightRatio = div.getBoundingClientRect().height / image.naturalHeight;
            var scaleFactor = Math.min(widthRatio, heightRatio);

            image.style.width = (image.naturalWidth * scaleFactor) + 'px';
            image.style.height = (image.naturalHeight * scaleFactor) + 'px';
        }

        function bytBild(select, bilId){
            var image = document.getElementById("bild-" + bilId);
            image.src = select.value;
            image.onload = () => resizeImg(image);
        }

        async function nyBokning(bilId){
            bokning = {
                Startdatum: document.getElementById("startdatum-" + bilId).value,
                Slutdatum: document.getElementById("slutdatum-" + bilId).value,
                BilId: document.getElementById("bilId-" + bilId).value
            };

            const response = await fetch (`/Bokningar/NyBokning`, {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(bokning)
            });

            if (response.ok){
                const data = await response.json();
                document.getElementById("datum-" + bilId).innerHTML +=
                `<p class='text-danger'>${data.startDatum} till ${data.slutDatum}</p>`;
                document.getElementById("result-" + bilId).textContent = data.result;
                document.getElementById("result-" + bilId).classList = "text-center fs-5 m-0 w-100 text-success"
            }
            else if (response.status === 500){
                const result = await response.text();
                const error = encodeURIComponent(result);
                const returnUrl = encodeURIComponent(window.location.pathname);
                window.location.href = `/Home/Error?error=${error}&returnUrl=${returnUrl}`;
            }
            else if (response.status === 401){
                const result = await response.text();
                const returnUrl = encodeURIComponent(window.location.pathname);
                window.location.href = `/Kund/Index?returnUrl=${returnUrl}`;
            }
            else if (response.status === 400) {
                const result = await response.text();
                document.getElementById("result-" + bilId).textContent = result;
                document.getElementById("result-" + bilId).classList = "text-center fs-5 m-0 w-100 text-danger"
            }
        }
    </script>
}