@model IEnumerable<FribergCarRentals.Models.Bil>

@{
    ViewData["Title"] = "Bilar";
}

<div class="text-center">
    <h1>Våra bilar</h1>
    <input type="button" class="btn btn-primary" value="Ny bil" asp-action="NyBil" />
</div>

<div class="d-flex flex-column">
    @foreach (var bil in Model)
    {
        <div class="d-flex flex-row border border-dark w-100 justify-content-between m-1">
            <div class="d-flex flex-column w-75">
                <div class="d-flex flex-row flex-wrap w-100 justify-content-evenly p-4">
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Tillverkare</p>
                        <p>@bil.Tillverkare</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Årsmodell</p>
                        <p>@bil.Årsmodell</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Modell</p>
                        <p>@bil.Modell</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Drivning</p>
                        <p>@bil.Drivning</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Bränsle</p>
                        <p>@bil.Bränsle</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Växellåda</p>
                        <p>@bil.Växellåda</p>
                    </div>
                </div>
                <div class="d-flex flex-column w-100 align-content-center border-top border-dark p-4">
                    <p class="fw-bold text-center">Beskrivning</p>
                    <p class="text-center">@bil.Beskrivning</p>
                </div>
            </div>
            <div class="w-25 align-content-center border-start border-end border-dark overflow-hidden">
                <img src="@bil.Bilder[0]" />
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        window.onload = function () {
            var images = document.querySelectorAll('img');

            images.forEach(function (image){
                resizeImg(image);
            });
        }

        function resizeImg(image){
            var div = image.parentElement;
            console.log(div.style.height);
            div.style.height = div.getBoundingClientRect().width + "px";
            console.log(div.style.height);
            if (!image.naturalWidth || !image.naturalHeight){
                image.onload = () => resizeImg(image);
                return;
            }

            var widthRatio = div.getBoundingClientRect().width / image.naturalWidth;
            var heightRatio = div.getBoundingClientRect().height / image.naturalHeight;
            var scaleFactor = Math.min(widthRatio, heightRatio);

            image.style.width = (image.naturalWidth * scaleFactor) + 'px';
            image.style.height = (image.naturalHeight * scaleFactor) + 'px';
        }
    </script>
}