@model IEnumerable<FribergCarRentals.Models.Bil>

@{
    ViewData["Title"] = "Pågående bokningar";
}

<div class="text-center">
    <h1>Pågående bokningar</h1>
</div>
<p class="text-danger text-center m-0" id="result"></p>
<div class="d-flex flex-column">
    @foreach (var bil in Model)
    {
        <p class="text-center fs-4 w-100" id="result-@bil.Id" style="display: block;"></p>
        <div class="flex-row border border-dark w-100 justify-content-between mx-1 mt-1" style="display: flex;" id="container-@bil.Id">
            <div class="w-25 border-start border-end border-dark overflow-hidden">
                <p class="fw-bold text-center">Bilder</p>
                <select onchange="bytBild(this, @bil.Id)">
                    @foreach (var bild in bil.Bilder)
                    {
                        <option value="@bild">@bild</option>
                    }
                </select>
                <div class="d-flex flex-row w-100 justify-content-center">
                    <img src="@bil.Bilder[0]" id="bild-@bil.Id" class="my-auto" />
                </div>
            </div>
            <div class="d-flex flex-column w-75">
                <div class="d-flex flex-row flex-wrap w-100 justify-content-evenly">
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Tillverkare</p>
                        <p>@bil.Tillverkare</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Årsmodell</p>
                        <p>@bil.Årsmodell</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Modell</p>
                        <p>@bil.Modell</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Drivning</p>
                        <p>@bil.Drivning</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Bränsle</p>
                        <p>@bil.Bränsle</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="fw-bold">Växellåda</p>
                        <p>@bil.Växellåda</p>
                    </div>
                </div>
                <div class="d-flex flex-column w-100 align-content-center border-top border-dark">
                    <p class="fw-bold text-center">Beskrivning</p>
                    <p class="text-center">@bil.Beskrivning</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column border-start border-end border-bottom border-dark mx-1 mb-1 w-100 text-center" id="datum-@bil.Id">
            @foreach (var bokning in bil.Bokningar)
            {
                <div class="text-center my-0 border-top border-dark w-100">
                    <p class="text-danger" id="result-@bokning.Id"></p>
                </div>
                <div class="flex-row w-100 justify-content-center my-1" id="container-@bokning.Id" style="display: flex;">
                    <p class="text-danger mx-1">@bokning.Startdatum.ToShortDateString() till @bokning.Slutdatum.ToShortDateString()</p>
                    @* <p class="fw-bold mx-1">Bokad av: </p>
                    <p class="mx-1">@bokning.Kund.Email</p> *@
                    <div class="flex-row" id="ändratabort-@bokning.Id" style="display: flex;">
                        <a class="btn btn-dark mx-1" asp-action="ÄndraBokning" asp-route-bokningId="@bokning.Id">Ändra</a>
                        <button class="btn btn-dark mx-1" onclick="frågaTaBort(@bokning.Id)">Ta bort</button>
                        <div class="d-flex flex-column ms-5">
                            <label>Slutdatum</label>
                            <input type="date" id="slutdatum-@bokning.Id" class="form-control" />
                            <input type="hidden" id="startdatum-@bokning.Id" value="@bokning.Startdatum.ToShortDateString()" />
                            <input type="hidden" id="id-@bokning.Id" value="@bokning.Id" />
                        </div>
                        <button class="btn btn-dark mx-1" onclick="avslutaBokning(@bokning.Id)">Avsluta bokningen</button>
                    </div>
                    <div class="flex-row" id="janej-@bokning.Id" style="display: none;">
                        <p class="text-danger mx-1">Ta bort denna bokning?</p>
                        <button class="btn btn-dark mx-1" onclick="jaTaBort(@bokning.Id)">Ja</button>
                        <button class="btn btn-dark mx-1" onclick="nejTaBort(@bokning.Id)">Nej</button>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    <script>
        window.onload = function () {
            var images = document.querySelectorAll('img');

            images.forEach(function (image){
                resizeImg(image);
            });
        }

        function resizeImg(image){
            var div = image.parentElement;
            var divHeight = div.getBoundingClientRect().width / 10 * 7;
            div.style.height = divHeight + "px";

            if (!image.naturalWidth || !image.naturalHeight){
                image.onload = () => resizeImg(image);
                return;
            }

            var widthRatio = div.getBoundingClientRect().width / image.naturalWidth;
            var heightRatio = div.getBoundingClientRect().height / image.naturalHeight;
            var scaleFactor = Math.min(widthRatio, heightRatio);

            image.style.width = (image.naturalWidth * scaleFactor) + 'px';
            image.style.height = (image.naturalHeight * scaleFactor) + 'px';
        }

        function bytBild(select, bilId){
            var image = document.getElementById("bild-" + bilId);
            image.src = select.value;
            resizeImg(image);
        }

        function frågaTaBort(bokningId){
                    document.getElementById("ändratabort-" + bokningId).style.display = 'none';
                    document.getElementById("janej-" + bokningId).style.display = 'flex';
            }

        function nejTaBort(bokningId){
                document.getElementById("janej-" + bokningId).style.display = 'none';
                document.getElementById("ändratabort-" + bokningId).style.display = 'flex';
        }

        async function jaTaBort(bokningId){
            const response = await fetch(`/Admin/TaBortBokning?bokningId=${bokningId}`, {method: "DELETE"})
            const result = await response.text();
            if (response.ok){
                document.getElementById("result-" + bokningId).textContent = result;
                document.getElementById("result-" + bokningId).classList = "text-danger";
                document.getElementById("container-" + bokningId).style.display = 'none';
            }
            else {
                const error = encodeURIComponent(result);
                const returnUrl = encodeURIComponent(window.location.pathname);
                window.location.href = `/Home/Error?error=${error}&returnUrl=${returnUrl}`;
            }
        }

        async function avslutaBokning(bokningId){
            bokning = {
                Startdatum: document.getElementById("startdatum-" + bokningId).value,
                Slutdatum: document.getElementById("slutdatum-" + bokningId).value,
                Id: document.getElementById("id-" + bokningId).value
            };

            console.log(bokning);

            const response = await fetch(`/Admin/AvslutaBokning`, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(bokning)
            });

            const result = await response.text();
            if(response.ok){
                document.getElementById("result-" + bokningId).textContent = result;
                document.getElementById("result-" + bokningId).classList = "text-success";
            }
            if(response.status === 401){
                const error = encodeURIComponent(result);
                window.location.href = `/Home/Error?error=${error}`;
            }
            if(response.status === 400){
                document.getElementById("result-" + bokningId).textContent = result;
                document.getElementById("result-" + bokningId).classList = "text-danger";
            }
        }
    </script>
}