@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRentals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentals.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fixed-top bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex">
                <div class="navbar-nav w-100 d-flex justify-content-between">
                    <div class="nav-item d-flex">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">FribergCarRentals</a>
                        <a class="nav-link text-dark text-decoration-underline" asp-controller="Bilar" asp-action="Index">Bilar för uthyrning</a>
                    </div>
                    <div class="nav-item d-flex">
                        <div class="pe-2 align-content-center">
                            @if (Context.User.HasClaim(ClaimTypes.Role, "kund"))
                            {
                                <p class="navbar-text text-dark p-0 m-0">Inloggad som kund</p>
                            }
                            @if (Context.User.HasClaim(ClaimTypes.Role, "admin"))
                            {
                                <p class="navbar-text text-dark p-0 m-0">Inloggad som admin</p>
                            }
                        </div>
                        @if (Context.User.Claims.Count() == 0)
                        {
                            <a class="nav-link text-dark" asp-controller="Kund" asp-action="Index" asp-route-returnUrl="@Context.Request.Path">Logga in</a>
                            <a class="nav-link text-dark" asp-controller="Kund" asp-action="Registrera" asp-route-returnUrl="@Context.Request.Path">Registrera</a>
                        }
                        @if (Context.User.Claims.Count() != 0)
                        {
                            <div class="nav-item dropdown">
                                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">@Context.User.FindFirstValue(ClaimTypes.Name)</button>
                                <div class="dropdown-menu">
                                    @if (Context.User.HasClaim(ClaimTypes.Role, "kund"))
                                    {
                                        <div class="dropdown-item">
                                            <a class="nav-link text-dark" asp-controller="Bokningar" asp-action="Index">Mina bokningar</a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a class="nav-link text-dark" asp-controller="Kund" asp-action="MinaUppgifter">Mina uppgifter</a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a class="nav-link text-dark" asp-controller="Kund" asp-action="LoggaUt">Logga ut</a>
                                        </div>
                                    }
                                    @if (Context.User.HasClaim(ClaimTypes.Role, "admin"))
                                    {
                                        <div>
                                            <a class="dropdown-item text-dark" asp-controller="Admin" asp-action="Bilar">Bilar</a>
                                        </div>
                                        <div>
                                            <a class="dropdown-item text-dark" asp-controller="Admin" asp-action="Kunder">Kunder</a>
                                        </div>
                                        <div>
                                            <a class="dropdown-item text-dark" asp-controller="Admin" asp-action="KommandeBokningar">Kommande bokningar</a>
                                        </div>
                                        <div>
                                            <a class="dropdown-item text-dark" asp-controller="Admin" asp-action="PågåendeBokningar">Pågående bokningar</a>
                                        </div>
                                        <div>
                                            <a class="dropdown-item text-dark" asp-controller="Admin" asp-action="AvslutadeBokningar">Avslutade bokningar</a>
                                        </div>
                                        <div>
                                            <a class="dropdown-item text-dark" asp-controller="Admin" asp-action="LoggaUt">Logga ut</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="pb-5">
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FribergCarRentals - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
